name: Cypress Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  dev-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pip'
      - name: install dependencies
        run: |
          pip install poetry
          poetry install
      - name: set config
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
        run: |
          mkdir $HOME/.snowsql
          envsubst < deploy/opscenter.config > $HOME/.snowsql/config
      - name: set env
        run: |
          echo "OPSCENTER_PACKAGE=PACKAGE_DEV" >> "$GITHUB_ENV"
          echo "OPSCENTER_DATABASE=\"DATABASE_OPSCENTER_DEV\"" >> "$GITHUB_ENV"
          echo "OPSCENTER_APP=APP_OPSCENTER_DEV" >> "$GITHUB_ENV"
      - name: run streamlit
        env:
          OPSCENTER_PACKAGE: ${{env.OPSCENTER_PACKAGE}}
          OPSCENTER_DATABASE: ${{env.OPSCENTER_DATABASE}}
          OPSCENTER_APP: ${{env.OPSCENTER_APP}}
        run: "poetry run streamlit run app/ui/Home.py &"
  cypress-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          start: yarn run cypress
          browser: chrome
          headless: true
          record: false
