name: Main Build Check

on:
  push:
    branches: [main]
env:
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 5

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pip'
      - uses: pre-commit/action@v3.0.0
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pip'
      - name: install dependencies
        run: |
          pip install poetry
          poetry install
      - name: set config
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          OPSCENTER_DATABASE: "DATABASE_OPSCENTER_DEV"
        run: |
          mkdir $HOME/.snowsql
          envsubst < deploy/opscenter.config > $HOME/.snowsql/config
      - name: set env
        run: |
          echo "OPSCENTER_PACKAGE=PACKAGE_DEV" >> "$GITHUB_ENV"
          echo "OPSCENTER_DATABASE=\"DATABASE_OPSCENTER_DEV\"" >> "$GITHUB_ENV"
          echo "OPSCENTER_APP=APP_OPSCENTER_DEV" >> "$GITHUB_ENV"
      - name: echo env variables
        run: |
          echo "OPSCENTER_DATABASE: $OPSCENTER_DATABASE"
      - name: run deploy
        env:
          OPSCENTER_PACKAGE: ${{env.OPSCENTER_PACKAGE}}
          OPSCENTER_DATABASE: ${{env.OPSCENTER_DATABASE}}
          OPSCENTER_APP: ${{env.OPSCENTER_APP}}
        run: "poetry run python deploy/deploy.py"
