name: PR Build Check

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pip'
      - uses: pre-commit/action@v3.0.0
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: recursive
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pip'
      - name: install dependencies
        run: |
          pip install poetry
          poetry install
      - name: Get suffix
        id: shell-command
        run:
          echo SUFFIX=$(echo ${GITHUB_HEAD_REF} | sed "s/\./_/g" | sed "s/-/_/g" | sed "s\/\_\g")_${GITHUB_RUN_ID} >> $GITHUB_ENV
      - name: set config
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          OPSCENTER_DATABASE: "DATABASE_CYPRESS_{{ env.SUFFIX }}"
        run: |
          mkdir $HOME/.snowsql
          envsubst < deploy/opscenter.config > $HOME/.snowsql/config
      - name: set env
        run: |
          echo "OPSCENTER_PACKAGE=PACKAGE_${SUFFIX}" >> "$GITHUB_ENV"
          echo "OPSCENTER_DATABASE=\"DATABASE_${SUFFIX}\"" >> "$GITHUB_ENV"
          echo "OPSCENTER_APP=APP_${SUFFIX}" >> "$GITHUB_ENV"
      - name: run deploy
        env:
          OPSCENTER_PACKAGE: ${{env.OPSCENTER_PACKAGE}}
          OPSCENTER_DATABASE: ${{env.OPSCENTER_DATABASE}}
          OPSCENTER_APP: ${{env.OPSCENTER_APP}}
          OPSCENTER_DROP_DATABASE: "true"
        run: "poetry run python deploy/deploy.py"
